<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listy</title>
</head>
<body>

     {% comment %}
     Elementy składniowe języka szablonów (jinjy/django) możemy zamknąć w 6 grupach.
     Dwa podstawowe elementy składniowe już znamy:
        1. zmienne, które są zastępowane przez wartości kiedy szablon jest renderowany. Składnia - {{ }}
        2. tagi, które kontrolują logikę szablonu (w ich miejsce nie są podstawiane wartości,
            kiedy szablon jest renderowany). Składnia - {% %}

    Mamy jeszcze cztery elementy składniowe (omawiamy każdy z nich):
        3. komentarze jednolinijkowe. Składnia - {# #}. Dla wielolinijkowych trzeba użyć taga {% comment %}
        4. filtry- czyli funkcje, które modyfikują wartość w zmiennej. Składnia - |
            {{ zmienna | filtr }}
        5. parametry do filtrów. Składnia - :
            {{ zmienna | filtr : parametr }}
        5. Do pól obiektu dostajemy się bez zmian (notacja z kropką), ale w ten sam sposób dostajemy
            się do elementów struktu złożonych po indeksie (iterable - listy) lub kluczu (hashable - słowniki).


    Powiedzieliśmy, że Jinja to język szablonów dla Pythona i możemy wewnątrz używać
    składni Pythona. Ale często nie jest to prawda. Spróbujmy np:
    {{len(fruits)}} - widać, że to nie działa. Zakomentujmy to
    1. Wytłumaczyć, że zwykły komentarz html nie wystarczy, bo
    silnik szablonów nie zwraca na niego uwagi. Próbuje policzyć to co mu wskażemy
    niezależnie czy jest to pomiędzy znacznikami komentarza html, czy nie.
    2. Dobra, len nie działa. Używamy filtrów
     Widzimy, że join też nie działa -->
    {% endcomment %}
    <p>{{ fruits|length }}</p>
    <p>{{ fruits|join:", "}}</p>
        Filtry można łańcuchować
    <p>{{ fruits|length|add:"2" }}</p>
    {% comment %}
    Listę tagów i filtrów można znaleźć w dokumntacji.
    Popatrzmy jeszcze na kilka:
    {{ text|safe }}
    {{ fruit|upper }}
    {{ fruit|capfirst }} Pierwsza litera wielka.
    {{ fruit|cut:"a" }} wycinamy wszystkie a (dobre do usuwania białych znaków.

     Mamy coś takiego jak enumerate w pythonie. Spróbujmy.
    {% for idx, fruit in enumerate(fruits) %}
    Nie działa. Ale mamy do tego odpowiednie tagi.
    {% endcomment %}
        {# To jest mój komentarz #}
    {% for fruit in fruits %}
        {{ forloop.counter }}
        {{ forloop.counter0 }}
        {{ forloop.first }}
        {{ forloop.last }}

    <h4>{{ fruit }}</h4>
    {% endfor %}

    {% comment %}
     Do wszystkiego wewnąrz obiektu dostajemy się przez notację z kropką.
    Jak się dostać do konkretnego elementu listy. Indeksowanie widać, że nie działa.
    .<index>
    <h1>{{ fruits.1 }}</h1>

    A do elementu słownika po kluczu?
    ['owoc'] nie działa.
    .<klucz>
    .owoc

    A do pól obiektu?
    Standardowo przez notację obiektową:
    {{ a_dict.values }}

    I wiele więcej w dokumentacji.
    {% endcomment %}

</body>
</html>