<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First</title>
</head>
<body>
    <h2>To jest pierwsza strona</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi consectetur dolores ducimus est ipsa ipsam reprehenderit suscipit velit voluptatum. Aliquam architecto atque culpa nemo nostrum quia reiciendis sapiente totam
    <br/>
    <br/>
        <!-- Tu najpier zahardcodowany endpoint -->
<!--        Przejdź do strony <a href="/links/second">drugiej</a>-->

    Przejdź do strony <a href="{% url 'second' %}">drugiej</a>
</body>
</html>