<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second</title>
</head>
<body>
    <h2>To jest druga strona</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi consectetur dolores ducimus est ipsa ipsam reprehenderit suscipit velit voluptatum. Aliquam architecto atque culpa nemo nostrum quia reiciendis sapiente totam.
    <br/>
    <br/>
<!--    Najpierw zahardcodowany endpoint-->
<!--    Przejdź do strony <a href="/links/first">pierwszej</a>-->
<!--    Minusy hardcodowania endpointów jako motywacja dla wprowadzenia nazw mapowań-->
    Przejdź do strony <a href="{% url 'first' %}">pierwszej</a>
    <br/>
    <!--    Potem dorabiamy trzeci widok-->
    <!-- Tu najpier samo thrid i dlaczego nie działa -->
    <!-- Przejdź do strony <a href="/links/third">trzeciej</a>-->

    <!-- Potem dopisujemy jakiś parametr -->
    Przejdź do strony <a href="/links/third/abc">trzeciej</a>

    <!--    A na koniec jak to zrobić przy użyciu nazw mapowań-->
    <!-- Przejdź do strony <a href="{% url 'third' 'abc' %}">trzeciej</a>-->
</body>
</html>